.benefits{
	padding-top: 188px;
	position: relative;
	overflow: hidden;
	&:after{
		content:'';
		width: 100%;
		height: calc((100% - 220px)/2);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		@media(max-width:1199px){
			display: none;
			
		}
	}
	&:before{
		content:'';
		width: 1030px;
		height: 1010px;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(19%, 5%);
		background: url(../img/el4.svg);
		background-size: contain;
	    background-repeat: no-repeat;
		@media (max-width: 1199px) {
			display: none;
		}	
		
	}
	@media (max-width: 1199px) {
		background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
		padding-top: 188px;
		
	}
	@media (max-width: 1199px) {
		margin-top: 0px;
	}
}
.benefits-content{
	padding: 120px 130px;
	border-radius: 60px;
	background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
	position: relative;
	z-index: 2;
	@media(max-width:1919px){
		padding: 100px;
	}
	@media(max-width:1535px){
		padding: 80px;
	}
	@media(max-width:1364px){
		padding: 50px;
	}
	@media (max-width: 1199px) {
		border-radius: 0;
		padding: 0;
		background: transparent;
		padding-bottom: 166px;
	}

}
.benefits-header{
	align-items: flex-start;
	.benefits-btn{
		padding-top: 23px;
		@media (max-width: 1199px) {
		position: absolute;
		bottom: 90px;
		left: 50%;
		transform: translateX(-50%);
		
		}
	}
	margin-bottom: 80px;
}
.benefits-cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	column-gap: 55px;
	row-gap:55px;
	@media(max-width:1364px){
		grid-template-columns: repeat(auto-fit, 320px);
		column-gap: 15px;
		row-gap:40px;
	}
}
.benefits-card__icon{
	width: 51px;
	height: 51px;
	display: flex;
	justify-content: flex-end;
	
	align-items:center;
	position: relative;
	margin-left: 20px;
	margin-bottom: 20px;
	
	&:after{
		content:'';
		background: rgba(21, 120, 224, 0.35);
		border: 1px solid rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(2.5px);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: -20px;
		top: -5px;
		z-index: 2;
	}

}
@media(min-width:1200px){
	.benefits .container{
		width: 95%;
		max-width: 1560px;
	}
}
