.header-inner{
	.header-top{
		position: relative;
		top: auto;
		left: auto;
		right:auto;
	}
	&__title{
		padding-top: 60px;
		padding-bottom: 60px;
		.text-24{margin-top: 20px;}
		@media (max-width: 767px) {
		.text-24{margin-top: 10px; font-size: 14px;}
		}
	}
}