.header{
	padding-top: 170px;
	min-height: 100vh;
	max-height: 1050px;
	overflow: hidden;
	position: relative;
	
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/el1.svg);
	width: 970px;
	height: 1300px;
	background-size: contain;
	background-repeat: no-repeat;
}
.header:after{
	content: '';
	position: absolute;
	bottom: -75%;
	left: 0;
	background: url(../img/el2.svg);
	width: 1065px;
	height: 1413px;
	background-size: contain;
	background-repeat: no-repeat;
	
}
.header-banner{
	padding-top: 100px;	
	position: relative;
	
	.header-bg{
		position: absolute;
		top: -40px;
		right: 0;
	}
}
.header-title{
	position: relative;
	z-index:  2;
	.h1{
		margin-top: 11px;
		margin-bottom: 11px;
	}
}
.header-text{
	position: relative;
	z-index:  2;
	margin-top: 175px;
	max-width: 584px;
}
.header-btn{
	margin-top: 53px;
	&>*+*{margin-left: 40px;}
	.btn, .btn-outline{min-width: 272px;}
}