.header{
	padding-top: 170px;
	min-height: 100vh;
	max-height: 1050px;
	overflow: hidden;
	position: relative;
	padding-bottom: 40px;
	@media (max-width: 1199px) {
		padding-top: 140px;
		padding-bottom: 0;
	}
	@media (max-width: 991px) {
		padding-top: 102px;
	}
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/el1.svg);
	width: 970px;
	height: 1300px;
	background-size: contain;
	background-repeat: no-repeat;
}
.header:after{
	content: '';
	position: absolute;
	bottom: -75%;
	left: 0;
	background: url(../img/el2.svg);
	width: 1065px;
	height: 1413px;
	background-size: contain;
	background-repeat: no-repeat;
	@media (max-width: 991px) {
		width: 406px;
		height: 641px;
		bottom: -35%;
	}
	
}
.header-banner{
	padding-top: 100px;
	@media(max-width:1539px){
		padding-top: 75px;
	}
	@media(max-width:1439px){
		padding-top: 45px;
	}
	@media (max-width: 991px) {
		padding-top: 75px;
		
	}
	@media (max-width: 767px) {
		padding-top: 0;
		
	}
	@media (max-width: 767px) {
		.header-banner__content{
			max-width: 320px;margin-left: auto;
		    margin-right: auto;
			
		}
	}
	.container{
		position: relative;
	}
	
	.header-bg{
		position: absolute;
		top: -95px;
		right:-70px;
		width: 700px;
		height: 710px;
		border-radius: 50%;
		overflow: hidden;
		-webkit-transform: translateZ(0);
       -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
		
		video{
			width: 211%;
			height: 117%;
			position: relative;
			left: -55%;
			top: -59px;
			@media(max-width:1535px){
				top: -52px;
			}
			@media(max-width:1199px){
				top: -42px;
				
			}
			
			@media (max-width: 767px) {
				top:-18px;
			}
		}
		@media(max-width:1919px){
			
			right: -55px;
			width: 680px;
			height: 690px;
		}
		@media(max-width:1535px){
			top: -90px;
			right: -10px;
			width: 620px;
			height: 629px;
		}
		@media(max-width:1439px){
			
			right: -50px;
			
		}
		@media(max-width:1364px){
			top: -30px;
			right: 10px;
			width: 555px;
			height: 555px;
		}
		@media (max-width: 1199px) {
			width: 500px;
			height: 500px;
			right: 0;
		}
		@media (max-width: 991px) {
			width: 440px;
			height: 440px;
			
		}
		@media(max-width:767px){
			width: 222px;
			height: 222px;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
			top:auto;
			right:auto;
		}

	}
}
.header-title{
	position: relative;
	z-index:  2;
	.h1{
		margin-top: 11px;
		margin-bottom: 11px;
		@media (max-width: 767px) {
		  margin-top: 0;
		  margin-bottom: 0;
		}
	}
}
.header-text{
	position: relative;
	z-index:  2;
	margin-top: 175px;
	max-width: 584px;
	@media(max-width:1539px){
		margin-top: 145px;
	}
	@media(max-width:1439px){
		margin-top: 110px;
		max-width: 550px;
	}
	@media (max-width: 991px) {
		// margin-top: 60px;
		max-width: 320px;
		.text-18{
			font-size: 12px;
		}
	}
	@media (max-width: 767px) {
		margin-top: 20px;
	}
}
.header-btn{
	margin-top: 53px;
	&>*+*{margin-left: 40px;}
	.btn, .btn-outline{min-width: 272px;}
	@media (max-width: 991px) {
		margin-top: 20px;
		flex-direction: column;
		align-items: flex-start;
		&>*+*{margin-left: 0; margin-top: 14px;}
		.btn, .btn-outline{min-width: 320px;}
	}
}