.page-aboutUs{
	.body-content .element-2{
		z-index: 1;
		@media (max-width: 1199px) {
			transform: translate(-15%, 0);
		}
		@media (max-width: 767px) {
			// transform: translate(-15%,0);
		}
		@media (max-width: 767px) {
			transform: translate(-15%, 54%);
			object{
				width: 700px;
				height: 700px;
			}
		}
	}
}
.our-docs{
	padding-top: 180px;
	
	position: relative;
	background-position: center -40px;
	background-repeat: no-repeat;
	background-size: cover;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 135px;
		background-color: #fff;
		@media (max-width: 1199px) {
		display: none;
		}
	}
	&:before{
		content:'';
		background:linear-gradient(180deg, #191D23 9.38%, rgba(25, 29, 35, 0.85) 34.9%, rgba(25, 29, 35, 0) 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.our-docs__title{
		margin-bottom: 62px;
	}
	@media (max-width: 1199px) {
	  background-image: none!important;
	  padding-top: 120px;
	}
	@media (max-width: 767px) {
	   padding-top: 90px;
	   .our-docs__title{
			margin-bottom: 30px;
		}
	}	
}
.register-docs-wrapper{
	position: relative;
	z-index: 3;
}
.our-docs .element-4{
	
	position: absolute;
	bottom: 0;
	right: 0;
	object{
		transform: translate(20%, 0);
		width: 600px;
		height: 600px;
	}
}
.register-docs{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 80px), 1fr));
	column-gap:40px;
	row-gap:40px;
	color: $pr;
	
	
	@media (max-width: 991px) {
		grid-template-columns: repeat(auto-fill, calc(50% - 20px));
		column-gap:20px;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		row-gap:28px;
	}

}	
.upper-18{
	font-size: 18px;
	font-weight: 500;
	color: $sec;
	
	text-transform: uppercase;
	position: relative;
	@media (max-width: 767px) {
	  font-size: 14px;
	}
	
}
.register-doc{
	position: relative;	
	min-height: 146px;
	transition: .3s;
	.d-flex{
		position: relative;
		z-index: 1;
		padding: 30px 40px;
		background: #FFFFFF;
		justify-content: space-between;
		height: 100%;
		border-radius: 20px;
	    column-gap:10px;border: 5px solid $ac1;

	}
	.upper-18{
		padding-top: 10px;
		@media (max-width: 767px) {
		  padding-top: 4px;
		}
	}
	&:hover{
		.demi-18{color: $ac1;}
		.svg-dwload{
			fill: $ac1;
		}
	}
	@media (max-width: 767px) {
		min-height: 100px;
		.d-flex{
			padding: 14px 20px;
		}
	  
	}
	
}
.register-doc:before{
	content:'';
	position: absolute;
	left: 44px;
	right: 44px;
	height: 60px;
	bottom:0;
	border-radius: 20px;
	background-color: $ac1;
	transform: translateY(-10px);
	transition:.3s;
	z-index: 0;
	@media (max-width: 1199px) {
		transform: translateY(0);
		bottom:-8px;
	}
}
.register-doc:hover:before{
	transform: translateY(20px);
	@media (max-width: 1199px) {
		transform: translateY(0);
	}
}
.annual-report{
	transition: .3s;
	.annual-report-icon{
		position: relative;
		z-index: 2;
		background: rgba(21, 120, 224, 0.35);
		border: 1px solid rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(2.5px);
		border-radius: 16px;
		height: 104px;
		justify-content: center;
		column-gap:16px;
		margin-top: -23px;
		.upper-18{color: #fff;}
	}
	.h5{
		text-align: center;
		font-size: 34px;
	}
}
.annual-report:hover{
	color: $ac1;
	svg{fill: $ac1}
	.upper-18{color: $ac1;}
}
.annual-reports{
	display: grid;
	grid-template-columns: repeat(auto-fill, 290px);
	column-gap:60px;
	row-gap:60px;
	@media(max-width:1919px){
		grid-template-columns: repeat(auto-fill,340px);
	}
	@media(max-width:1535px){
		grid-template-columns: repeat(auto-fill, 255px);
	    column-gap:40px;	
	}
	@media(max-width:1439px){
		grid-template-columns: repeat(auto-fill, 290px);
	    column-gap:60px;	
	}
}
.annual-docs-wrapper{
	padding-top: 180px;
		position: relative;
	z-index: 2;
	.slider-swiper-block{
		width: 100%;
		margin-top: 0;
		padding-top: 60px;
		background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
		padding-bottom: 90px;
	}
	
	.slider-swiper-block .slider-swiper-prev, 	.slider-swiper-block .slider-swiper-next{
		transform: translate(0, 0);
		top: auto;
		bottom:45px;
	}
	.slider-swiper-block .slider-swiper-prev{
			right: 40%;
		@media (max-width: 767px) {
			right: 20px;
		}
	}
	.slider-swiper-block .slider-swiper-next{
			left: 40%;
		@media (max-width: 767px) {
			left: 20px;
		}
	}
    @media (max-width: 1199px) {
		padding-top: 120px;
	}
	@media (max-width: 767px) {
		padding-top: 90px;
	}
	
}
.annual-docs-wrapper .inner-content{
	padding: 90px;
	@media(max-width:1439px){
		padding-left: 75px;
		padding-right: 75px;	
	}
}
.visible-desktop{
	@media(max-width:1199px){
		display: none!important;
	}
}
.hide-desktop{
	@media(min-width:1200px){
		display: none!important;
	}
}