.partners{
	background-color: #fff;
	padding-top: 180px;
	padding-bottom: 180px;
	@media (max-width:1199px) {
		padding-top: 135px;
		padding-bottom: 135px;
	}
	@media (max-width: 991px) {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	@media (max-width: 767px) {
		.container{
			width: 100%;
		}
	}
	
}
.partner-info{
	
	width: 220px;
	@media(max-width:1199px){
		width: 180px;
	}
	@media(max-width:767px){
		width: 161px;
	}

}
.partner-info .partner-logo{margin-top: 20px;}
	@media(max-width:767px){
		.partner-info .partner-logo{margin-top: 10px;}
	}
.partners-header{
	display: grid;
	grid-template-columns: 74% 1fr;
	column-gap: 170px;
	align-items: center;
	@media(max-width:1919px){
		column-gap: 100px;
		grid-template-columns: 1fr 220px; 
	}
	@media(max-width:1439px){
		column-gap: 60px;
		
	}
	
	@media(max-width:574px){
	  grid-template-columns: 1fr;
	  row-gap:30px;
		
	}
}
.title-bg{
	font-size: 70px;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	.h2{position: relative;
	z-index: 2;}
	&:after{
		content: '';
		background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
		border-radius: 0 40px 40px 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width:calc(100% + 50vw) ;
		@media(max-width:767px){
			border-radius: 0 20px 20px 0;
		}
	}
	
	@media(max-width:574px){
		padding-top: 20px;
		padding-bottom: 20px;
		max-width: 320px;
	}
}
.partners-swiper-block	{
	margin-top: 180px;
	position: relative;
	width: 1290px;
	margin-left: auto;
	margin-right: auto;
	.partners-swiper-next,
    .partners-swiper-prev{
		position: absolute;
		top: 50%;
		transform:translate(-120%, -50%);
		left: 0;
		@media (max-width: 1364px) {
			transform:translate(-100%, -50%);
		}

	}
	.partners-swiper-prev{
		left: auto;
		right: 0;
		transform:translate(120%, -50%);
		@media (max-width: 1364px) {
			transform:translate(-100%, -50%);
		}
	}
	@media (max-width: 1919px) {
		width:calc(100% - 280px);
	}
	@media (max-width: 1364px) {
		width:calc(100% - 180px);
	}
	@media (max-width: 1199px) {
		margin-top: 135px;
	}
	@media (max-width: 991px) {
		margin-top: 90px;
		
	}
	@media (max-width:767px) {
		width: 460px;
		margin-top: 60px;
	}
	@media (max-width:574px) {
		width: 220px;
		margin-top: 30px;
	}
}

.partners-swiper .swiper-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 254px;
	}
	@media (max-width: 1919px) {
		img{
			width: 220px;
		}
	}
	@media (max-width: 1199px) {
		img{
			width: 200px;
		}
	}
	@media (max-width: 574px) {
	 img{
		width: 211px;
	 }
	}
}