.partners{
	background-color: #fff;
	padding-top: 180px;
	
}
.partner-info{
	
}
.partner-info .partner-logo{margin-top: 20px;}
.partners-header{
	display: grid;
	grid-template-columns: 74% 1fr;
	column-gap: 170px;
	align-items: center;
}
.title-bg{
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	.h2{position: relative;
	z-index: 2;}
	&:after{
		content: '';
		background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
		border-radius: 0 40px 40px 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width:calc(100% + 50vw) ;
	}
	
	
}