//=====================  О ПРОЕКТЕ ===========================
section.about.grad-bg
	.gr3.anim-move3
	.container.container--rel
		.gr2.anim-move4
		.section-header.anim-box
			h2.h2 О проекте
			p.text-24 Основными направлениями деятельности являются: организация и проведение военно-спортивных сборов, спортивных соревнований, интеллектуально-досуговые мероприятия, реализация социальной программы «Мы — Команда», мастер-классы по социальному проектированию, проведение обучающих вебинаров и курсов повышения квалификации.
		.about-content
			.about-img.decor-img.anim-box
				
				img.lazy(src="./img/team.webp", width="830" height="596" alt="img")
			.about-statistic.anim-box
				.number-item
					.h3.text-accent +200
					.medi-18 Спортивных молодёжных мероприятий
				.number-item
					.h3.text-accent +150
					.medi-18 спортивных, игровых и&nbsp;образовательных смен
				.number-item
					.h3.text-accent +40k
					.medi-18 часов переданного опыта и&nbsp;бесценных знаний
		.about-text.anim-box
			.h5 создание условий для осознания подростками необходимости развития чувства патриотизма через&nbsp;привлечение их к активной игровой деятельности
	
	//================ ПРЕИМУЩЕСТВА РЕГИСТРАЦИИ ======================
	include ../sections/_benefits
			