//=====================  О ПРОЕКТЕ ===========================
section.about
	.container
		.section-header
			h2.h2 О проекте
			p.text-24 Основными направлениями деятельности являются: организация и проведение военно-спортивных сборов, спортивных соревнований, интеллектуально-досуговые мероприятия, реализация социальной программы «Мы — Команда», мастер-классы по социальному проектированию, проведение обучающих вебинаров и курсов повышения квалификации.
		.about-content
			.about-img.decor-img
				img(src="./img/team.png", width="830" height="596" alt="img")
			.about-statistic
				.number-item
					.h3.text-accent +200
					.medi-18 Спортивных молодёжных мероприятий
				.number-item
					.h3.text-accent +150
					.medi-18 спортивных, игровых и образовательных смен
				.number-item
					.h3.text-accent +40k
					.medi-18 часов переданного опыта и бесценных знаний
		.about-text
			.h5 создание условий для осознания подростками необходимости развития чувства патриотизма через привлечение их к активной игровой деятельности