.benefits
	.container
		.inner-content
			.benefits-header.d-flex
				.h2 Преимущества регистрации
				
				.benefits-btn
					button(type="button" frame-btn="reg-modal").btn Регистрация
			.benefits-cards
				.benefits-card
					.benefits-card__icon
						svg
							use(href="./img/svg-sprite.svg#open-svg")
					.medi-18 Полный доступ ко всей информации портала
				
				.benefits-card
					.benefits-card__icon
						svg
							use(href="./img/svg-sprite.svg#screen-svg")
					.medi-18 первыми получаете Свежие и актуальные новости
				
				.benefits-card
					.benefits-card__icon
						svg
							use(href="./img/svg-sprite.svg#cam-svg")
					.medi-18 открытый Доступ к кинозалу и обучающим вебинарам
				
				.benefits-card
					.benefits-card__icon
						svg
							use(href="./img/svg-sprite.svg#cloud-svg")
					.medi-18 Возможность скачивания методических материалов
				
				.benefits-card
					.benefits-card__icon
						svg
							use(href="./img/svg-sprite.svg#headset-svg")
					.medi-18 Связь с персональным консультантом
				
				.benefits-card
					.benefits-card__icon
						svg(width="41" height="32")
							use(href="./img/svg-sprite.svg#users-svg")
					.medi-18 быстрый Поиск наставников в свои проекты
