mixin projCard(logo, text, img, addClass)
	if addClass == 'true'
		a(href="doc.pdf" target="_blank" class="project-card project-card--disabled" disabled)
			.project-card__img
				.project-card__logo
			
			p !{text}
	else
		a(href="doc.pdf" target="_blank" class="project-card" )
			.project-card__img
				.project-card__logo
					img(src="./img/projects/logo"+ logo +".png", width="270" height="193" alt="alt")
				.project-card__picture
					.picture-wrapper
						img(src="./img/projects/project"+ img +".jpg", width="480" height="500" alt="alt")
				.btn.btn--mini
					svg.svg-folder
						use(href="./img/svg-sprite.svg#fldr-svg")
					span Pdf, 46.06 кб
			
			.project-card__title
				img(src="./img/projects/logo"+ logo +".png", width="270" height="193" alt="alt")
				.btn.btn--mini
					svg.svg-folder
						use(href="./img/svg-sprite.svg#fldr-svg")
					span Pdf, 46.06 кб
			p !{text}


.our-projects
	.element-3
		object(type="image/svg+xml" data="./img/el3.svg" )
	.element-4
		object(type="image/svg+xml" data="./img/el4.svg" )
	.container
		.our-projects-cards
			+projCard(1,'Недели «ТАВРИДА.АРТ» в&nbsp;доме молодёжи в&nbsp;Москве' , 1)
			+projCard(2,'Премия «Время молодых» создана специально для активных, амбициозных и готовых делиться опытом со всей страной', 2 )
			+projCard(3,'Российское движение детей и молодёжи «Движение Первых»', 3 )
			+projCard(4,'Всероссийский студенческий форум. Талантливые студенты, победители конкурсов совместно с ректорами, молодыми преподавателями', 3 )
			+projCard(5,'Церемония вручения национальной премии «Патриот» традиционно проходит в День Героев Отечества.', 3 )
			+projCard(6,'Недели «ТАВРИДА.АРТ» в доме молодёжи в Москве', 3 )
			+projCard(7,'Конкурс «Атмосфера» 2022–2023 Всероссийский конкурс на лучшую работу по вопросам избирательного права и избирательного процесса', 3 )
			+projCard(8,'Выборы «Звезды Артека» - деловая игра среди обучающихся в ФГБОУ «МДЦ „Артек“', 3 )
			+projCard(9,'Новый проект уже в разработке', '', 'true' )
		
		//======== PAGINATION===========
		.pagination-block
			button.pag-btn.pag-prev
			button.pag-btn.pag-current 1
			button.pag-btn 2
			button.pag-btn 3
			button.pag-btn ...
			button.pag-btn.pag-next
			