.about-us
	.container.container--rel
		.about-us-content
			.about-us-text
				.text-24
					p 29&nbsp;июля 2020&nbsp;года Минюстом России зарегистрировано Всероссийское общественное движение наставников детей и&nbsp;молодёжи «Наставники России».
					p #[strong Учредители Движения]&nbsp;— граждане Российской Федерации.
					p #[strong География Движения]&nbsp;— 73&nbsp;региональных отделения.
					p #[strong Участники Движения]&nbsp;— руководители общественных организаций, инструкторско-преподавательский и&nbsp;тренерский состав патриотических клубов и&nbsp;спортивных объединений, специалисты по&nbsp;патриотическому воспитанию, педагоги дополнительного образования и&nbsp;социальные психологи, методисты и&nbsp;вожатые, родители и&nbsp;опекуны.
				.text-24
					p #[strong Цель Движения]&nbsp;— совершенствование системы наставничества, как&nbsp;традиционной основы для&nbsp;воспитательной работы с&nbsp;детьми и&nbsp;молодёжью в&nbsp;Российской Федерации.
		

			.about-statistic
				.number-item
					.h3.text-accent +200
					.medi-18 Спортивных молодёжных мероприятий
				.number-item
					.h3.text-accent +150
					.medi-18 спортивных, игровых и&nbsp;образовательных смен
				.number-item
					.h3.text-accent +40k
					.medi-18 часов переданного опыта и&nbsp;бесценных знаний

.our-docs(style="background-image: url(./img/1.webp);")
	.gr2
	.gr3
	.register-docs-wrapper
		.container
			.our-docs__title
				.h5 Регистрационные документы
			.register-docs
				//======== document link ================
				a(href="./img/doc.pdf" target="_blank").register-doc
					.d-flex
						.register-doc__text
							.demi-18 Устав организации
							.upper-18 Pdf
						svg.svg-dwload
							use(href="./img/svg-sprite.svg#dwload")
					
				//======== document link ================
				a(href="./img/doc.pdf" target="_blank").register-doc
					.d-flex
						.register-doc__text
							.demi-18 Свидетельство регистрации
							.upper-18 Pdf
						svg.svg-dwload
							use(href="./img/svg-sprite.svg#dwload")
					
				//======== document link ================
				a(href="./img/doc.pdf" target="_blank").register-doc
					.d-flex
						.register-doc__text
							.demi-18 Свидетельство о&nbsp;постановке на&nbsp;налоговый учёт
							.upper-18 Pdf
						svg.svg-dwload
							use(href="./img/svg-sprite.svg#dwload")
	
	//==========  ГОДОВЫЕ ОТЧЕТЫ  DESKTOP VERSION ======================
	.annual-docs-wrapper.visible-desktop
		.container
			.our-docs__title
				.h2 Годовые отчеты
			
			.inner-content
				.annual-reports
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2022
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2021
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2020
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2019
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2018
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2017
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2016
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf
					a(href="./img/doc.pdf" target="_blank").annual-report
						.h5 2015
						.annual-report-icon.d-flex
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
							.upper-18 Pdf

	
	
	//==========  ГОДОВЫЕ ОТЧЕТЫ  MOBILE VERSION======================
	.annual-docs-wrapper.hide-desktop
		.container
			.our-docs__title
				.h2 Годовые отчеты
		.slider-swiper-block
			//====================== swiper slider =======================
			.container
				.annual-reports-swiper.swiper
					.swiper-wrapper
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2022
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2021
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2020
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2019
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2018
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
						.swiper-slide
							a(href="./img/doc.pdf" target="_blank").annual-report
								.h5 2017
								.annual-report-icon.d-flex
									svg.svg-folder
										use(href="./img/svg-sprite.svg#fldr-svg")
									.upper-18 Pdf
				
				//========================== slider arrows =================
				button.slider-swiper-next
					.ic-arLeft
				button.slider-swiper-prev
					.ic-arRight
							