.our-nav
	.container
		.our-nav-search
			form.search-form()

				.form-item.form-item__icon-right
					//====== кнопка лупа ========
					button.form-item__icon(type="")
						.ic-search
					
					input(type="text" placeholder="Описание поля")
		.our-nav-cards
