mixin libraryCard(img, title, text, txt1)
	//======== карточка - библиотеки =========
	a(href="./img/doc.pdf" target="_blank").library-card.d-flex
		.library-card__img
			img.lazy(src="./img/libs/libs"+ img +".png", width="194" height="273" alt="img")
		.library-card__description
			.library-card__text
				.library-card__title.d-flex
					.text-medium !{title}
					svg.svg-folder
						use(href="./img/svg-sprite.svg#fldr-svg")
				.library-card__preview
					.text-12 !{text}
				.card-flex__footer
					.text-14 !{txt1}
					.text-14 Pdf, 46.06 кб
.our-library
	.container
		.library-cards
			+libraryCard(1, 'Азбука счастливой семьи', 'В&nbsp;книге собраны важные знания из&nbsp;области детской и&nbsp;семейной психологии. Авторы опираются на&nbsp;труды всемирно известных психологов, педагогов и&nbsp;исследователей&nbsp;— Джона Боулби, Гэри Чепмена, Януша Корчака, Льва Выготского, Людмилы Петрановской, Юлии Гиппенрейтер и&nbsp;других. В&nbsp;каждой главе&nbsp;— реальные примеры из&nbsp;жизни и&nbsp;практические упражнения.', 'Машкова, Салтеев, Дубинников')
			
			+libraryCard(2, 'Непослушное солнце, или&nbsp;как&nbsp;перестать кричать на&nbsp;своего ребёнка', 'Устанавливать правила в&nbsp;семье важно, сложно, но&nbsp;можно!&nbsp;Как? Книга о&nbsp;том, как&nbsp;достичь мира и&nbsp;порядка в&nbsp;отношениях со&nbsp;своими детьми, не&nbsp;прибегая к&nbsp;ссорам, крику или&nbsp;побоям.', 'Сергей Чуднявцев')
			
			+libraryCard(3, 'Непослушное солнце, или&nbsp;Как&nbsp;понять, что&nbsp;в&nbsp;голове у&nbsp;подростка', 'К&nbsp;тинейджерам нужен особый подход и&nbsp;знания подростковой психологии. Отрочество&nbsp;&mdash; это&nbsp;тот&nbsp;самый период, когда ребёнку нужно стать взрослым, а&nbsp;это&nbsp;ой&nbsp;как&nbsp;не&nbsp;просто', 'Сергей Чуднявцев')
			
			+libraryCard(4, 'Укутанное детство. Не&nbsp;прячьте детей от&nbsp;жизни.', 'Практикующий семейный психолог предлагает подумать, какими мы&nbsp;хотим видеть наших детей через&nbsp;20&ndash;30&nbsp;лет? К&nbsp;какому будущему мы&nbsp;их готовим? Почему выросшим в&nbsp;&laquo;стерильной атмосфере&raquo; сложнее адаптироваться в&nbsp;реальном взрослом мире.', 'Елена Попова')
			
			+libraryCard(5, 'Детям о&nbsp;Великой Победе', 'В&nbsp;пособии представлены занятия-беседы, посвящённые Второй Мировой войне и&nbsp;важнейшим событиям Великой Отечественной войны: началу войны, обороне Москвы, решающим сражениям, победе нашей страны над&nbsp;фашисткой Германией, освобождению народов Европы от&nbsp;фашизма.', 'Казаков А., Шорыгина Т.')
			
			+libraryCard(6, 'Как&nbsp;говорить, чтобы&nbsp;дети слушали, как&nbsp;слушать, чтобы&nbsp;дети говорили', 'Это&nbsp;не&nbsp;книга-вдохновение, не&nbsp;книга-пища для&nbsp;размышлений, а&nbsp;книга конкретных рекомендаций по&nbsp;взаимодействию с&nbsp;детьми.', 'А. Фабер, Э. Мазлиш')
			
			+libraryCard(7, 'Тайная опора. Привязанность в&nbsp;жизни ребёнка.', 'Хотите узнать, насколько детско-родительские отношения определяют личность человека и&nbsp;как&nbsp;выстроить их, не&nbsp;порождая комплексов, страхов и&nbsp;других негативных последствий? Автор проведёт вас&nbsp;через&nbsp;все&nbsp;кризисы и&nbsp;сложные этапы от&nbsp;рождения до&nbsp;15&nbsp;лет&nbsp;и&nbsp;предложит разные модели поведения.', 'Людмила Петрановская')
			
			+libraryCard(8, 'Если&nbsp;с&nbsp;ребёнком трудно', 'Автор даёт методику &laquo;7&nbsp;шагов по&nbsp;исправлению трудного поведения&raquo;, а&nbsp;также объясняет, почему в&nbsp;процессе воспитания важно использовать особенности темперамента ребёнка, а&nbsp;не&nbsp;бороться с&nbsp;ними, учитывать возраст и&nbsp;не&nbsp;требовать невозможного, почему в&nbsp;процессе общения важно говорить с&nbsp;сыном или&nbsp;дочерью:объяснять, рассказывать, задавать вопросы', 'Людмила Петрановская')
			
			+libraryCard(9, 'Перестаньте детей воспитывать. Помогите им&nbsp;расти.', 'Книга&nbsp;&mdash; голос в&nbsp;защиту родителей, замученных бесконечными советами, чувством долга, отсутствием времени и&nbsp;сил&nbsp;на&nbsp;&laquo;воспитание&raquo;. Авторы предлагают оставить этот трудный и&nbsp;в&nbsp;общем-то неприятный процесс и&nbsp;начать дружить со&nbsp;своим ребёнком, понимать его, дышать им, просто любить', 'Заряна и Нина Некрасовы')
			
			
			//======== КАРТОЧКА - ЗАГЛУШКА  получает атрибут DISABLED ===============		
				Эта карточка заглушка выводится только ,когда экран >=992px.  Выводится она только в случае, если финальный ряд неполный. На этой странице в ряду по две карточки, значит заглушка будет выводиться максимум 1 раз
				На экранах < 992px  у карточек прописано dispaly: none!important;
			// ======================================================================
			.library-card.d-flex(disabled)
				.library-card__img
					
				.library-card__description
					.library-card__text
						.library-card__title.d-flex
							.text-medium Скоро будет еще материалы
							svg.svg-folder
								use(href="./img/svg-sprite.svg#fldr-svg")
						.library-card__preview
							.text-12 Наши эксперты уже подбирают новые книги для вас.
						.card-flex__footer
							.text-14 Новый автор
							.text-14 Pdf, 46.06 кб