.about-us
	.container.container--rel
		.about-us-content
			.about-us-text
				.text-24
					p 29&nbsp;июля 2020&nbsp;года Минюстом России зарегистрировано Всероссийское общественное движение наставников детей и&nbsp;молодёжи «Наставники России».
					p #[strong Учредители Движения]&nbsp;— граждане Российской Федерации.
					p #[strong География Движения]&nbsp;— 73&nbsp;региональных отделения.
					p #[strong Участники Движения]&nbsp;— руководители общественных организаций, инструкторско-преподавательский и&nbsp;тренерский состав патриотических клубов и&nbsp;спортивных объединений, специалисты по&nbsp;патриотическому воспитанию, педагоги дополнительного образования и&nbsp;социальные психологи, методисты и&nbsp;вожатые, родители и&nbsp;опекуны.
				.text-24
					p #[strong Цель Движения]&nbsp;— совершенствование системы наставничества, как&nbsp;традиционной основы для&nbsp;воспитательной работы с&nbsp;детьми и&nbsp;молодёжью в&nbsp;Российской Федерации.
		

			.about-statistic
				.number-item
					.h3.text-accent +200
					.medi-18 Спортивных молодёжных мероприятий
				.number-item
					.h3.text-accent +150
					.medi-18 спортивных, игровых и&nbsp;образовательных смен
				.number-item
					.h3.text-accent +40k
					.medi-18 часов переданного опыта и&nbsp;бесценных знаний
		