.our-projects
	.container
		.our-projects-cards
			a(href="#!").project-card
				
				.project-card__img
					.project-card__logo
						img(src="./img/projects/logo1.png", width="270" height="193" alt="alt")
					.project-card__picture
						img(src="./img/projects/project1.png", width="480" height="500" alt="alt")
					.btn.btn--mini
						svg.svg-folder
							use(href="./img/svg-sprite.svg#folder-svg")
						span Pdf, 46.06 кб
				p Недели «ТАВРИДА.АРТ» в&nbsp;доме молодёжи в&nbsp;Москве