mixin galleryFoto(arg)
	- var n=1
	- var k=1
	while n < arg && k < arg
		a(href="./img/gallery/photo"+ n++ +".jpg" data-lightbox="album-1")
			img.lazy(src="./img/gallery/photo"+ k++ +".jpg", alt="")
.media-inner-content
	.container
		a(href="our-media.html").back-link
			span.ic-back
			span.link Назад в медиацентр
		.media-inner-gallery
			+galleryFoto(32)
			
			//==================================================
				Эта карточка заглушка выводится только ,когда экран >=992px.  Выводится она только в случае, если финальный ряд неполный. Выводится столько раз, сколько карточек не хватает до заполнения ряда до четырех штук, так как на этой странице в ряду по 4 фотографии из галереи. 
			//=================================================
			a(href="#!").placeholder-card
				img(src="./img/libs/placeholder2.jpg" width="373" height="272", alt="img")