.media-inner-content
	.container
		a(href="news.html").back-link
			span.ic-back
			span.link Назад в медиацентр
		.event-card.event-card--large
			.event-card__video
				video(controls muted="muted"  width="100%" height="100%")
					source(src="video/video.mp4" type="video/mp4")
			.event-card__body
				.text-medium Строевая подготовка. Элементы строя.
				.text-16 Фронт — сторона строя, в которую военнослужащие обращены лицом (машины — лобовой частью). Тыл (тыльная сторона) — сторона или часть строя, боевого порядка, оперативного построения войск (сил), противоположная фронту. Фланг — правая (левая) оконечность строя. При поворотах строя названия флангов не изменяются.
			.card-flex__footer
				.text-14 Автор: ВОД Наставники России
				.d-flex
					.text-14 Mp4, 15.06 Мб
					a(href="./img/doc.pdf" download ).btn-dwnload
						svg
							use(href="./img/svg-sprite.svg#cloud-svg")