footer.footer
	.container
		.footer-content
			.footer-top.d-flex
				.footer-logo
					a(href="index.html").logo
						img.lazy(src="./img/logo.png", width="104" height="110" alt="logo")
				.footer-contacts.d-flex
					a.link-text(href="http://cspkomanda.com/") cspkomanda.com
					a.link-text(href="tel:+78005551789") +7 (800) 555 17 89
				.social-block
					a(href="#!")
						svg.vk-svg(width="23" height="15")
							use(href="./img/svg-sprite.svg#vk-svg")
					a(href="#!")
						svg.rutube-svg(width="23" height="15")
							use(href="./img/svg-sprite.svg#rutube-svg")
					a(href="#!")
						svg.tg-svg(width="23" height="15")
							use(href="./img/svg-sprite.svg#tg-svg")

			.footer-copyright.d-flex
				.text-14.text-gray МЫ-КОМАНДА. Официальный сайт &copy; 2023
				a(href="#!").text-14.link-white Политика обработки персональных данных