//===================== HEADER ======================
header.header
	.container
		.header-content
			a(href="index.html").logo
				img(src="./img/logo.png", width="94" height="99" alt="logo")
			.main-menu#header-menu
				+header-menu([
					{title: 'Новости'},
					{title: 'Визитная карточка'},
					{title: 'Проекты'},
					{title: 'Навигатор'},
					{title: 'Библиотека'},
					{title: 'Медиацентр'}
				])
			.header-column.d-flex
				.login-button
					.ic-login
				.menu-toggle#menu-toggle
					span