
form().profile-form
	.container.container--rel
		.profile-content__body.d-flex
			//=================  БЛОК С ФОТО ====================
			.profile-content__foto
				img.lazy(src="./img/avatar.jpg", width="350" height="350" alt="")
				
				//============== ИЗМЕНИТЬ ФОТО ==========================
				.form-select-group
					.file-select
						.file-select__input
							input#select-foto.inputfile(type='file' )
							label(for='select-foto').link Изменить фотографию
							label(for='select-foto').form-item__icon
								.ic-edit-blue
						.text-12.text-gray (Размер загружаемого изображения не&nbsp;более 30&nbsp;МБ&nbsp;и&nbsp;1080&nbsp;на&nbsp;1080&nbsp;пикселей, формат изображения.jpg или.png)
				
				//============== ВЫБРАТЬ ПОЛ ==========================
				.form-item-group.d-flex
					.input-label Пол:
					label.form-radio.flex-10
						input(type="radio" name="group1" checked)
						span.fake-radio
						.text-14 Мужской
					label.form-radio.flex
						input(type="radio" name="group1")
						span.fake-radio
						.text-14 Женский
			
			//=================  ОСНОВНЫЕ ПОЛЯ ====================
			.profile-content__info
				.form-wrapper
					.form-wrapper__col
						.form-item
							.input-label Фамилия
							input(type="text" name="" value="Бархатов")
							.form-item__icon
								.ic-edit
							.input-subtext Дополнительная текстовая инфа
						.form-item
							.input-label Имя
							input(type="text" name="" value="Дмитрий")
							.form-item__icon
								.ic-edit
							
						.form-item
							.input-label Отчество
							input(type="text" name="" value="Анатольевич")
							.form-item__icon
								.ic-edit
						.form-item
							.input-label Дата рождения
							input#datepicker(type="text" class="datepicker" value="24.09.1977")
							.form-item__icon
								.ic-edit
					.form-wrapper__col
						.form-item
							.input-label Место работы/учебы
							input(type="text" name="" value="ВОД «Наставники России»")
							.form-item__icon
								.ic-edit
							.error Дополнительная текстовая инфа
						.form-item
							.input-label Должность
							input(type="text" name="" value="Председатель координационного совета")
							.form-item__icon
								.ic-edit
							
						.form-item
							.input-label Место жительства
							input(type="text" name="" value="г. Москва")
							.form-item__icon
								.ic-edit
						.form-item
							.input-label Email
							input(type="text" name="" value="info@nastavnikirossii.ru")
							.form-item__icon
								.ic-edit
	//============== НИЗ ФОРМЫ С КНОПКОЙ И ПОЛИТИКОЙ =========================
	.container
		.profile-form__footer
			//==============================================================
				Класс disable делает кнопку пассивной, задавая определенные стили. Что бы сделать ее активной, удалить этот класс 
			//==============================================================
			button.btn-46.btn.disable(type="submit") Сохранить изменения

			label.form-item-group.d-flex.politic-confirm
				.tooltip-box
					.text-12 Для отзыва согласия на обработку персональных данных, обратитесь письменно к администрации сайта!
				.form-checkbox
					input(type="checkbox")
				.text-14 Даю свое согласие на обработку персональных данных ы соответствии с #[a.link(href="./img/doc.pdf" target="_blank") Политикой обработки персональных данных]

