.profile-content
	.container
		.form-item.form-item__icon-right
			//====== кнопка лупа ========
			.form-item__icon
				.ic-edit
				
			input(type="text" placeholder="Описание поля")

			label.form-radio
				input(type="radio" name="group1")
				span.fake-radio
				span Женский

			label.form-radio
				input(type="radio" name="group1")
				span.fake-radio
			label.form-radio
				input(type="radio" name="group1")
				span.fake-radio

		.form-item
