section.partners
	.container
		.partners-header
			.title-bg
				h2.h2 Партнеры проекта
			.partner-info
				.medi-16.text-pr При поддержке:
				.partner-logo
					img.lazy(src="./img/partners/partner-logo.png", width="220" height="145"  alt="alt")
	
	//====================== swiper slider =======================
	.slider-swiper-block
		.partners-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo2.png", height="84" width="254" alt="logo")
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo3.png", height="84" width="254" alt="logo")
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo4.png", height="84" width="254" alt="logo")
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo5.png", height="84" width="254" alt="logo")
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo2.png", height="84" width="254" alt="logo")
				.swiper-slide
					img.lazy(src="./img/partners/partner-logo3.png", height="84" width="254" alt="logo")
		
		//========================== slider arrows =================
		button.slider-swiper-prev
			.ic-arRight
		button.slider-swiper-next
			.ic-arLeft
