section.partners
	.container
		.partners-header
			.title-bg
				h2.h2 Партнеры проекта
			.partner-info
				.medi-16.text-pr При поддержке:
				.partner-logo
					img(src="./img/partner-logo.png", width="220" alt="alt")
	
	//====================== swiper slider =======================
	.slider-swiper-block
		.partners-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="./img/partner-logo2.png", width="254" alt="logo")
				.swiper-slide
					img(src="./img/partner-logo3.png", width="254" alt="logo")
				.swiper-slide
					img(src="./img/partner-logo4.png", width="254" alt="logo")
				.swiper-slide
					img(src="./img/partner-logo5.png", width="254" alt="logo")
				.swiper-slide
					img(src="./img/partner-logo2.png", width="254" alt="logo")
				.swiper-slide
					img(src="./img/partner-logo3.png", width="254" alt="logo")
		
		//========================== slider arrows =================
		button.slider-swiper-next
			.ic-arLeft
		button.slider-swiper-prev
			.ic-arRight