section.partners
	.container
		.partners-header
			.title-bg
				h2.h2 Партнеры проекта
			.partner-info
				.medi-16.text-pr При поддержке:
				.partner-logo
					img(src="./img/partner-logo.png", width="220" alt="alt")