header.header-inner
	//===================== HEADER MENU ===========================
	.header-top
		.container
			.header-content
				a(href="index.html").logo
					img(src="./img/logo.png", width="94" height="99" alt="logo")
				.main-menu#header-menu
					+header-menu([
						{title: 'Новости', link:"news.html"},
						{title: 'Визитная карточка',link:"about-us.html"},
						{title: 'Проекты',link:"our-projects.html"},
						{title: 'Навигатор',link:"our-nav.html"},
						{title: 'Библиотека',link:"our-libs.html"},
						{title: 'Медиацентр',link:"our-media.html"}
					])
				.header-column.d-flex
					.login-button(frame-btn="register-modal")
						.ic-login
					.menu-toggle#menu-toggle
						span
	
	.header-inner__title
		.container
			.profile-page__title.d-flex
				h1.h5 Личный кабинет
				//======= сбросить пароль кнопка ==========
				.btn-46.btn
					.ic-setting
					span Изменить пароль