//===================== ОДНА НОВОСТЬ =================
.news-content
	.container.container--small
		.single-news__title
			.date-item.d-flex
				.title-44 22
				span /
				.medi-18 12.2022
		.single-news__body.custom-text
			p X Всероссийское совещание работников сферы дополнительного образования детей проходило с&nbsp;8&nbsp;по&nbsp;9&nbsp;декабря 2022 года в онлайн — и офлайн-форматах и объединило 30 тысяч специалистов со всей страны. Это педагоги и руководители организаций допобразования, представителей органов исполнительной власти в сфере образования, молодёжной политики, культуры, спорта и детского отдыха, представителей общественных организаций.
			img(src="./img/news/news1.jpg", width="1000" height="600" alt="")
			p Главная тема совещания — дополнительное образование, как баланс традиций и инноваций в обучении и воспитании детей.
			.border-left
				p Совещание предусматривало двухдневную деловую программу 48 секций в прямом эфире с участием 280 спикеров из более 60 регионов страны в 8 онлайн-залах, посвящённых именам выдающихся деятелей культуры в год сохранения культурного наследия народов России (Сергей Есенин (зал офлайн с прямой трансляцией мероприятий), Пётр Чайковский, Расул Гамзатов, Митрофан Пятницкий, Илья Репин, Габдулла Тукай, Игорь Моисеев, Виктор Васнецов).
			.bg-gradient.d-flex
				.ic-mic
				.bold-18 В рамках совещания прошла панельная дискуссия «Всероссийский детский центр как&nbsp;профессиональное пространство совершенствования педагогического мастерства и&nbsp;творчества»


			p В ней принял участие Андрей Самотоин, исполнительный директор ВОД «Наставники России», а также руководители федеральных детских центров страны МДЦ «Артек», ВДЦ «Смена», «Орлёнок», «Океан». На дискуссии Андрей Николаевич выступил с докладом «Наставничество как основа патриотического воспитания». #[br] Организатор Совещания — #[a(href="#!").link Министерство просвещения Российской Федерации] при организационно-методическом сопровождении ФГБУК «Всероссийский центр развития художественного творчества и гуманитарных технологий» (ВЦХТ).
			.video-wrapper#video-frame
				button.button-play
					span.ic-play
				
				video( playsinline preload="yes" poster="./img/news/news-preloader.png" )
					source(src='video/video.mp4' type="video/mp4")

			//- .video-wrapper
			//- 	button.button-play
			//- 		span.ic-play
			//- 	.video-wrapper__iframe
			//- 		iframe(src="https://www.youtube.com/embed/w2RR-FiBvRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

			a(href="news.html").back-link
				span.ic-back
				span.link Назад к новостям
				