// @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;700&display=swap');
*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: $m;
	font-size: 16px;
	line-height: 1.4;
	background-color: $pr;
	-webkit-font-smoothing: antialiased;
	position: relative;
	text-rendering: optimizeSpeed;
	
}
body{
	
	
	footer{margin-top: auto;}
}
.body-content{
	
	position: relative;
	display: flex;
	flex-direction: column;
	&>header, main,footer{width: 100%;flex-shrink:0}
	min-height: 100vh;
	overflow: hidden;
	.element-1{
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		object{width:1272px; height:1022px;}
		@media (max-width: 767px) {
			transform: translate(14%, -4%);
		}
	}
	.element-2{
		pointer-events: none;
		position: absolute;
		left: 0;
		top: 0;
		object{width:1025px; height:1665px;}
		@media (max-width: 767px) {
			top:50vh;
			transform: translate(-30%, -40%);
		}
		
	}
}
.lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;

	@media(min-width:1200px) {
		padding-right: 18px;
	}
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(30, 65, 89, .2);
	// backdrop-filter: blur(5px);
	z-index: 5;
}

#overlay.active {
	display: block;

}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.pb-40{
	padding-bottom: 40px!important;
	@media (max-width: 767px) {
		padding-bottom: 10px !important;
	}
}
.container{
	width: 1560px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	@media(max-width:1919px){
		width: 1360px;
	}
	@media(max-width:1439px){
		width: 1180px;
	}
	@media(max-width:1199px){
		width: 990px;
	}
	@media(max-width:991px){
		width: 768px;
	}
	@media(max-width:767px){
		width: 570px;
	}
	@media(max-width:574px){
		width: 100%;
	}
}
.container--small{
	max-width: 1040px;
}
.t-upper{
	text-transform: uppercase;
}
.d-flex{
	display: flex;
	align-items: center;
}
section{
	padding-top: 120px;
	@media (max-width: 1439px) {
		padding-top: 90px;
	}
	@media (max-width: 767px) {
		padding-top: 60px;
	}
}
.section-header{
	width: 80%;
	max-width:1075px ;
	.h2{
		margin-bottom: 40px;
		@media (max-width: 1199px) {
		margin-bottom: 35px;
		}
	}
	@media (max-width: 767px) {
	width: 100%;
	max-width:320px ;
	}	
}
.bg-gradient{
	background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
	position: relative;
	&:before{
		content:'';
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: 0px;
		right: -1px;
		background: linear-gradient(90deg, rgba(159, 110, 26, 0) 0%, rgba(21, 120, 224, 1) 100%);
		z-index: -1;
		border-radius: inherit;
	}
}
.back-link{
	display: flex;
	align-items: center;
	&>*+*{margin-left: 10px;}
	font-size: 18px;
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
.in-view.anim-box{

	animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
	animation-timing-function: linear;
	animation-delay: 0.5s;
	
    animation-name: zoomIn;
    -webkit-animation-name: zoomIn;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
  @keyframes fadeInUp {
   0% {
        transform: translate3d(0,40px,0)
    }
	50% {
		transform: translate3d(0,30px,0)
	}
    100%{  transform: translate3d(0,0,0);
        
    }
}
  @keyframes zoomIn {
   0% {
        transform: scale(1);
    }
	50% {
		transform: scale(.95);
	}
    100%{ transform: scale(1);
        
    }
}