
.body-content{
	position: relative;
	display: flex;
	flex-direction: column;
	&>header, main,footer{width: 100%;flex-shrink:0}
	min-height: 100vh;
	overflow: hidden;

	.gr1{
		width: 100.5vw;
		height: 98.3vw;
		right: 0;
		top: 0;
		
		transform:translate(22%, -46% );
		@media (max-width: 1199px) {
			
			transform:translate(34%, -34% );
		}
		@media (max-width: 767px) {
			width: 200vw;
			height: 190vw;
		}
	}
	.gr2{
		width: 81vw;
		height: 97vw;
		left: 0;
		top: 50vh;
		transform: translate(-30%, -15%);

		@media (max-width: 767px) {
			animation-name: unset;
			width: 200vw;
			height: 210vw;
		}
		@media (max-width: 767px) {
			
		}
	}
}

.grad-bg{
	position: relative;
	overflow: hidden;
}
.gr1,.gr2, .gr3, .gr5{
	pointer-events: none;
	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}
.gr1{background-image: url('../img/gr1.svg');}
.gr2{background-image: url('../img/gr2.svg');}
.gr3{
	background-image: url('../img/gr3.svg');
	width: 81vw;
	height: 73vw;
}
.gr5{
	background-image: url('../img/gr5.svg');
	width: 105vw;
	height: 73vw;
}
/*==== градиенты на главной ======*/
.about .gr3{
	transform: translate(-10%, 10%);
	@media (max-width: 1535px) {
		
	}
		
	@media (max-width: 991px) {
		
	}
}
.about .gr5{
		left: 50%;
		top: 50%;
		transform:translate(-60%, -50%);
		
	}
/*==== градиенты на стр НОВОСТИ ======*/

.news-page{
	
	main{
		.gr2{
			bottom: 0;
			right: 0;
			left:auto;
			top:auto;
			transform: translate(50%, 50%);
			
		}
	}
}
/*==== градиенты на стр Визитная карточка ======*/
.page-aboutUs{
	.body-content> .gr2{
		z-index: 1;
		transform: translate(-50%, 30%);
		@media(min-width: 1365px) and (max-width: 1439px) {
			top:66vh;
		}

	}
	
}
.our-docs>.gr2{
	transform: translateX(50%);
	@media(max-width:1199px){
		transform: translate(21%, -21%);
	}
	@media (max-width: 767px) {
   		 top: -18vh;
		transform: translate(-50%, 0);
	}
	
}
.our-docs>.gr3{
	display: none;
	@media (max-width: 991px) {
		width: 1200px;
		height: 1200px;
		display: block;
	   transform: translate(50%, 20%);
	}
}
/*==== градиенты на стр Проекты ======*/
.inner-page{
	main{
		.gr3{
			transform: translate(-36%, 38%);
			@media (max-width: 767px) {
			  transform: translate(3%, 25%);
			}
		}
		.gr4{
			transform: translate(36%, -30%);
			@media(max-width:1199px){
				transform: translate(36%, -100%);
			}
		}
	}
}
/*==== градиенты LK ======*/
.body-user-profile{
	.gr2{
		left: auto;
		right:auto;
		transform: translate(60%, 30%);
		animation: none;
	}
}
.anim-box{position: relative;
}
  .in-view.anim-box{

	animation-duration: 2.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
	
	
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
  @keyframes fadeInUp {
   0% {
        top:0px;
    }
	50% {
		top:-15px;
	}
	100% {
		top:0;
	}	
   
}
