.btn, .btn-outline{
	display: inline-block;
	cursor:pointer;
	height: 63px;
	line-height: 63px;
	border-radius: 100px;
	padding-left: 39px;
	padding-right: 39px;
	color: #ffffff;
	font-weight: 600;
	font-size: 18px;
	font-family: $m;
	background-color: $ac1;
	transition: .5s;
	text-align: center;
	min-width: 272px;
	@media (max-width: 1199px) {
		height: 46px;
		line-height: 46px;
		font-size: 14px;
	}
	@media (max-width: 767px) {
		
		width: 320px;
	}
}
.btn:hover{
	background-color: $ac2;
	
}

.btn-outline{
	color:$pr ;
	background-color: #ffffff;
	&:hover{
		color: $ac1;
	}
	
}
.btn.disable, .btn-outline.disable{
	cursor:default;
	pointer-events: none;
	opacity: .4;
}
.btn--mini{
	padding-left: 18px;
	padding-right: 18px;
	height: 36px!important;
	white-space: nowrap;
	min-width: unset;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px!important;;
	display: inline-flex;
	align-items: center;
	column-gap:8px;
	
}
.btn-46{
	height: 46px;
	align-items: center;
	line-height: 1;
	display: inline-flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	padding-left: 39px;
	padding-right: 39px;
	min-width: 172px;
	text-align: center;
	&>*+*{
		margin-left: 10px;
	}
	
}