.form-item{
	position: relative;
	input{
		width: 100%;
		background-color: transparent;
		height: 44px;
		border-bottom: 1px solid $sec;
		font-size: 16px;
		color: rgba(117, 117, 117, .8);
		&::placeholder{
			font-size: 16px;
			color: inherit; font-family: inherit;
		}
	}
}
.form-item.form-item__icon-right{
	.form-item__icon{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		
	}
}
.search-results{
	position: relative;
	
}
.search-results__header{
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ADADAD;
	.btn.btn-46{
		@media (max-width: 1199px) {
			min-width: unset;
			padding-left: 24px;
			padding-right: 24px;
			width: auto;
			height: 36px;
		   span{display: none;}
		}
	}
}
.search-results__empty {
	padding-top: 20px;
	font-size: 14px;
	color: $sec3;
}