.form-item{
	position: relative;
	input{
		width: 100%;
		background-color: transparent;
		height: 44px;
		border-bottom: 1px solid $sec;
		font-size: 16px;
		color: white;
		font-size: 16px;
		font-family: $m;
		&::placeholder{
			font-size: 16px;
			color: rgba(117, 117, 117, .8);
			font-family: inherit;
		}
	}
	.input-label + input:not([type="radio"]), .input-label + input:not([type="checkbox"]){
		height: 27px;
	}
}
.input-label {
	position: relative;
	width: fit-content;
	padding-right: 8px;
}
.input-label span{
	color: $er!important;
	position: absolute;
	top: 0;
	right: 0;
}
.input-label, .input-subtext{
	color: $sec;
	font-size: 12px;
	line-height: 1.5;
}
.error{
	color: $er!important;
	font-size: 12px;
	line-height: 1.5;
}
.form-item{
	.form-item__icon{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		
	}
}
.search-results{
	position: relative;
	
}
.search-results__header{
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ADADAD;
	.btn.btn-46{
		@media (max-width: 1199px) {
			min-width: unset;
			padding-left: 24px;
			padding-right: 24px;
			width: auto;
			height: 36px;
		   span{display: none;}
		}
	}
}
.search-results__empty {
	padding-top: 20px;
	font-size: 14px;
	color: $sec3;
}
/* radio*/
.form-radio{
	position: relative;
	display: flex;
	align-items: center;
	column-gap:10px;
	font-size: 14px;
	color: $sec1;
	input[type="radio"]{
		appearance: none;
		width: 0.01em;
		height: 0.01em;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	.fake-radio{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		flex-shrink: 0;
		display: block;
		border:1px solid $sec1;
		position: relative;
		cursor:pointer;
		&:after{
			content:'';
			display: block;
			width: 12px;
			height: 12px;
			position: absolute;
			border-radius: 50%;
			background-color: $ac1;
			
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%);
			z-index: 2;
			opacity: 0;
			transition:.3s;
		}

	}


	input:checked + .fake-radio{
		border:1px solid $ac1;
		
	}
	input:checked + .fake-radio:after{opacity: 1;}

}
/* checkbox*/
.form-checkbox{
	position: relative;
	display: flex;
	align-items: center;
	column-gap:10px;
	font-size: 14px;
	color: $sec1;
	input[type="checkbox"]{
		appearance: none;
		width: 0.01em;
		height: 0.01em;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	.fake-checkbox{
		width: 16px;
		height: 16px;
		border-radius: 4px;
		flex-shrink: 0;
		display: block;
		border:1px solid $sec1;
		position: relative;
		cursor:pointer;
		overflow: hidden;
		&:after{
			content:'';
			display: block;
			width: 10px;
			height: 7px;
			position: absolute;
			background-size: auto;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.5 1L3.5 6L1.5 4' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
			top: -50%;
			left: 50%;
			transform:translate(-50%, -50%);
			z-index: 2;
			
			transition:.3s;
		}

	}


	input:checked + .fake-checkbox{
		border:1px solid $ac1;
		background-color: $ac1;
		
	}
	input:checked + .fake-checkbox:after{top:50%}

}	
.profile-content{
	position: relative;
	z-index:  1;
}
.form-item-group{
	.input-label{margin-right: 20px; font-size: 14px;}
	.form-radio +.form-radio{margin-left: 12px;}
	position: relative;
	
}
.form-checkbox{
	input{
		width: 16px;
		height: 16px;
		border-radius: 4px;
	}
}
.tooltip-box{
	width: 303px;
	height: 96px;
	position: absolute;
	left: -8px;
	top: -5px;
	transform: translateY(-100%);
	background: url('../img/tooltip.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 15px 20px;
	z-index: 3;
	display: none;
	color: $sec3;
}
.politic-confirm{
	 align-items: flex-start;
	 color: $sec;
	.form-checkbox{margin-right: 6px;}
	
	&:hover{
		.tooltip-box{display: block;}
	}
	@media (max-width: 1199px) {
	   width: 100%;
	
	}
}
.tooltip-wrapper:hover{
		.tooltip-box{display: block;}
	}

.politic-confirm a{
	padding-left: 5px;
	padding-right: 5px;
}
 .inputfile {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	opacity: 0;

}

.inputfile+label {
	display: inline-block;
}
.file-select{
	width: fit-content;
	display: inline-flex;
	column-gap:10px;
	align-items:center;
	.file-select__input{
		flex-shrink:0;
		width: fit-content;
		display: inline-flex;
		column-gap:5px;
		align-items:center;
		.form-item__icon{ padding-left: 5px; align-items:center;}
		@media(min-width:1920px){.text-12{line-height: 1;}}
		&:hover .ic-edit-blue {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.799026 15.8666C0.622324 15.8658 0.452944 15.7959 0.327026 15.6719C0.245486 15.5898 0.186653 15.4879 0.156273 15.3761C0.125892 15.2644 0.125003 15.1468 0.153693 15.0346L0.98036 11.8026C1.01008 11.6869 1.06988 11.5811 1.15369 11.4959L12.3217 0.327947C12.4475 0.203854 12.617 0.134277 12.7937 0.134277C12.9704 0.134277 13.1399 0.203854 13.2657 0.327947L15.6657 2.72795C15.7904 2.85336 15.8605 3.02306 15.8605 3.19995C15.8605 3.37683 15.7904 3.54653 15.6657 3.67195L4.50303 14.8453C4.41788 14.9291 4.31208 14.9889 4.19636 15.0186L0.96436 15.8453C0.910288 15.8589 0.854788 15.8661 0.799026 15.8666V15.8666ZM2.22569 12.3093L1.73236 14.2666L3.69769 13.7653L14.2657 3.20528L12.7937 1.73328L2.22569 12.3093Z' fill='%23ADADAD'/%3e%3cpath d='M13.1352 5.9359C12.9582 5.93253 12.7896 5.85974 12.6658 5.73323L10.2658 3.33323C10.2038 3.27125 10.1547 3.19766 10.1211 3.11668C10.0876 3.03569 10.0703 2.94889 10.0703 2.86123C10.0703 2.77358 10.0876 2.68678 10.1211 2.60579C10.1547 2.5248 10.2038 2.45122 10.2658 2.38923C10.3278 2.32725 10.4014 2.27808 10.4824 2.24454C10.5634 2.21099 10.6502 2.19373 10.7378 2.19373C10.8255 2.19373 10.9123 2.21099 10.9933 2.24454C11.0743 2.27808 11.1478 2.32725 11.2098 2.38923L13.6098 4.78923C13.7033 4.88247 13.767 5.00137 13.7928 5.13085C13.8186 5.26032 13.8054 5.39455 13.7549 5.51652C13.7043 5.63848 13.6187 5.74269 13.5088 5.81593C13.399 5.88917 13.2698 5.92814 13.1378 5.9279L13.1352 5.9359Z' fill='%23ADADAD'/%3e%3cpath d='M12.6345 15.8667H7.22917C7.05236 15.8667 6.88279 15.7964 6.75776 15.6714C6.63274 15.5464 6.5625 15.3768 6.5625 15.2C6.5625 15.0232 6.63274 14.8536 6.75776 14.7286C6.88279 14.6036 7.05236 14.5333 7.22917 14.5333H12.6345C12.8113 14.5333 12.9809 14.6036 13.1059 14.7286C13.2309 14.8536 13.3012 15.0232 13.3012 15.2C13.3012 15.3768 13.2309 15.5464 13.1059 15.6714C12.9809 15.7964 12.8113 15.8667 12.6345 15.8667Z' fill='%23ADADAD'/%3e%3c/svg%3e");
		}
	}
	@media (max-width: 1199px) {
	 flex-direction: column;
	 align-items: flex-start;
	}
}
.form-wrapper{
	width: 100%;
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap:40px;
	
}
.form-item + .form-item{
	margin-top: 34px;
	@media (max-width: 1199px) {
	   margin-top: 24px;
	}
}
.ui-widget.ui-widget-content {
	background: rgba(21, 120, 224, 0.45);
	border: 1px solid rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(2.5px);
	/* Note: backdrop-filter has minimal browser support */
    padding-top: 15px;
	border-radius: 16px;
}
.ui-datepicker-calendar{padding-top: 20px;}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background: #1578E0;
    color: white;
    border: #1578E0;
    border-radius: 16px;
    width: fit-content;
	min-width: 190px;
    margin-right: auto;
    margin-left: auto;
}
.ui-widget-content{
	color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid transparent;
    background: transparent;
    font-weight: normal;
    color: #adadad;
	text-align: center;
	
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background-color: $ac1;
	color: #ffffff;
	border-radius: 50%;
}
.ui-widget-header .ui-datepicker-next.ui-corner-all .ui-icon, .ui-widget-header  .ui-datepicker-prev .ui-icon {
	width: 20px;
	height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.6665 16C12.5789 16.0003 12.492 15.9832 12.411 15.9498C12.33 15.9164 12.2564 15.8673 12.1945 15.8053L6.86115 10.472C6.73706 10.3462 6.66748 10.1767 6.66748 9.99999C6.66748 9.82331 6.73706 9.65375 6.86115 9.52799L12.1945 4.19465C12.3197 4.06947 12.4894 3.99915 12.6665 3.99915C12.8435 3.99915 13.0133 4.06947 13.1385 4.19465C13.2637 4.31984 13.334 4.48962 13.334 4.66665C13.334 4.84369 13.2637 5.01347 13.1385 5.13865L8.26648 9.99999L13.1385 14.8613C13.2626 14.9871 13.3322 15.1566 13.3322 15.3333C13.3322 15.51 13.2626 15.6796 13.1385 15.8053C13.0765 15.8673 13.003 15.9164 12.9219 15.9498C12.8409 15.9832 12.7541 16.0003 12.6665 16V16Z' fill='%23ADADAD'/%3e%3c/svg%3e");
}
.ui-widget-header .ui-datepicker-next.ui-corner-all:hover,  .ui-widget-header  .ui-datepicker-prev:hover{
	background-color: transparent;
	border:1px solid transparent;
	.ui-icon {
		width: 20px;
		height: 20px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.6665 16C12.5789 16.0003 12.492 15.9832 12.411 15.9498C12.33 15.9164 12.2564 15.8673 12.1945 15.8053L6.86115 10.472C6.73706 10.3462 6.66748 10.1767 6.66748 9.99999C6.66748 9.82331 6.73706 9.65375 6.86115 9.52799L12.1945 4.19465C12.3197 4.06947 12.4894 3.99915 12.6665 3.99915C12.8435 3.99915 13.0133 4.06947 13.1385 4.19465C13.2637 4.31984 13.334 4.48962 13.334 4.66665C13.334 4.84369 13.2637 5.01347 13.1385 5.13865L8.26648 9.99999L13.1385 14.8613C13.2626 14.9871 13.3322 15.1566 13.3322 15.3333C13.3322 15.51 13.2626 15.6796 13.1385 15.8053C13.0765 15.8673 13.003 15.9164 12.9219 15.9498C12.8409 15.9832 12.7541 16.0003 12.6665 16V16Z' fill='%231578E0'/%3e%3c/svg%3e");
	}
} 
.ui-widget-header .ui-datepicker-next.ui-corner-all .ui-icon{
 transform: rotate(180deg);
}
.ui-icon-circle-triangle-e, .ui-widget-header  .ui-datepicker-prev .ui-icon{
	background-position: center;
}
.ui-datepicker .ui-datepicker-next {
    right: -22px;
}
.ui-datepicker .ui-datepicker-prev {
    left: -25px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid $sec;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}