//- ===== colors ======
$ac1: #1578E0;
$ac2: #005CBD;
$er: #D11E49;
$pr: rgb(25, 29, 35);
$pr1: #515151;
$sec: #757575;
$sec1: #ADADAD;
$sec2: #C8C8C8;
$sec3: #F5F7F8;

$u: "Unbounded-Bold";
$m: 'Montserrat-Regular';
$mm: 'Montserrat-Medium';
$ms: 'Montserrat-SemiBold';
$mb: 'Montserrat-Bold';