.profile-page__title{
	justify-content: space-between;
	position: relative;
	
}
.profile-content__body{
	position: relative;
	z-index: 1;
}
.profile-content__body{
	align-items: flex-start;
	column-gap:40px;
}