.project-card{
	overflow: hidden;
	max-width: 480px;
	display: inline-block;
	&__logo{
     transition: .7s;
	}
	&__logo img{
		width: 270px;
		height: 193px;
		object-fit: scale-down;
		
	}
	&__picture{
		
		img{
		width: 100%;
		height: 500px;
		object-fit: cover;
	   }
	} 
	
	p{
		padding-top: 30px;
		font-weight: 600;
		font-size: 24px;
		line-height: 1.4;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}
.project-card__logo{
	width: 270px;
	height: 193px;
	background-image: url('../img/projects/placeholder.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.picture-wrapper{
	position: relative;
	&:after{
		content:'';
		width: 0;
		height: 0;
		border: 40px solid #191D23;;
		border-bottom: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		top: 0;
		right: 107px;
		position: absolute;
		z-index: 2;
		transform:translate(0, -100%);
		transition: .7s;
	}
	&:before{
		content:'';
		width: 0;
		height: 0;
	    border: 40px solid #191D23;;
		border-left: 0;
		border-top: 182px solid transparent;
		border-bottom: 50px solid transparent;
		top: 107px;
		right: 0;
		position: absolute;
		z-index: 2;
		transform:translate(100%, 0);
		transition: .7s;
	}
	
	
}
.project-card__img{
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	height: 500px;
	
}
.project-card__logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.project-card__img:before{
	content:'';
	background-color: #fff;
	position: absolute;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	width: 100%;
	left:0;
	transition: 1s;
	z-index: 3;

}
.project-card:not([disabled]):hover .project-card__img:before{
		opacity: 0;
}
.project-card:not([disabled]):hover:hover {
	.project-card__logo{
		transform: scale(0);
		opacity: 0;
	}
	p{
		color: $ac1;
	}
	.picture-wrapper{
	
	&:after, &:before{
		transform: translate(0, 0);
	}
	}
}

.project-card .btn--mini{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	svg{
		width: 14px;
		height: 14px;
	}
}
.our-projects-cards{
	display: grid;
	grid-template-columns: repeat(auto-fill, 480px);
	column-gap:40px;
	row-gap: 60px;
}
.project-card.project-card--disable{
	cursor: default;
	p{
		color: $sec;
	}
}

.project-card.project-card--disabled{
	cursor:default;
	p{color: $sec;}
}
.our-projects{
	padding-bottom: 180px;
	@media (max-width: 1199px) {
	padding-bottom: 135px;
	}
	@media (max-width: 767px) {
		padding-bottom: 90px;
	}
}