.our-library{
	position: relative;
	z-index: 1;
}
.library-card{
	display: flex;
	max-width: 740px;
	&__img{
		flex-shrink: 0;
		height: 100%;
		width: 194px;
		border-radius: 14px;
			background-image: url('../img/libs/placeholder3.jpg');
			background-size:cover;
			background-repeat:no-repeat;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: drop-shadow(0px 4px 35px rgba(25, 29, 35, 0.5));
			border-radius: 14px;

		}
		@media (max-width: 1199px) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			width: 126px;
			height: 178px;		
		}
	}
	&__description{
		padding-top: 27px;
		padding-bottom: 18px;
		width: 100%;
		height: 100%;

		@media (max-width: 1199px) {
			padding-top: 0; padding-bottom: 0;
		}
	}
	&__text{
		padding: 30px;
		padding-left: 24px;
		background: rgba(21, 120, 224, 0.35);
		border: 1px solid rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(2.5px);
		border-radius: 0 20px 20px 0;
		transition:.3s;
		display: flex;
		flex-direction: column;
		height: 100%;
		&>*{width: 100%;}
		@media (max-width: 1199px) {
			padding: 20px;
			padding-top: 130px;
			border-radius: 10px;

		}
	}
	&__preview{
		padding-top: 10px;
		padding-bottom: 11px;
		flex-grow:2;
	}
	&__title{
		justify-content: space-between;
		padding-bottom: 16px;
		border-bottom: 0.5px solid rgba(255, 255, 255, .5);
		
		@media (max-width: 1199px) {
			min-height: 54px;
		}
		.text-medium{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			flex-grow: 2;
			padding-right: 8px;
			transition:.3s;
			@media (max-width: 1199px) {
			   font-size: 12px;
			}
		}
		svg.svg-folder{
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			transition:.3s;
			fill: $sec1;
		}
	}
	&__preview{
		.text-12{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp:5;
			overflow: hidden;
		}
	}
}
.library-card{
	@media (max-width: 1199px) {
	    position: relative;
		padding-top: 68px;
		.text-14{
			font-size: 12px;
	
		}
		
	}

}
.library-card:not([disabled]):hover{
	.library-card__title .text-medium{color: $ac1;}
	.library-card__title svg.svg-folder{fill: $ac1;} 
	.library-card__text{
		border: 1px solid $ac1;
	}
}
.library-cards{
	display: grid;
	grid-template-columns:repeat(auto-fill, (calc((100% - 40px) / 2)));
	column-gap:40px ;
	row-gap: 60px;
	@media (max-width: 1199px) {
		 row-gap: 40px;
		.library-card__text{min-height: 338px;}
		.library-card__preview{min-height: 105px;}
	}
	@media (max-width: 767px) {
	  row-gap: 20px;
	  grid-template-columns:repeat(auto-fill, minmax(320px, 360px));
	}
}
.library-card[disabled]{
	color: #ADADAD!important;
}
