.our-projects{
	
	overflow: hidden;
	
	}
	

.project-card{
	overflow: hidden;
	max-width: 480px;
	display: inline-block;
	position: relative;
	
	&__logo{
     transition: .7s;
	}
	&__logo img{
		width: 270px;
		height: 193px;
		object-fit: scale-down;
		
	}
	&__picture{
		
		img{
		width: 100%;
		height: 500px;
		object-fit: cover;
		@media (max-width: 1535px) {
			height: 400px;
			
			}
	   }
	} 
	
	p{
		padding-top: 30px;
		font-weight: 600;
		font-family: $mm;
		font-size: 24px;
		line-height: 1.4;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}
.project-card__logo{
	width: 270px;
	height: 193px;
	
	background-size: cover;
	background-repeat: no-repeat;
}
.picture-wrapper{
	position: relative;
	&:after{
		content:'';
		width: 0;
		height: 0;
		border: 40px solid #191D23;;
		border-bottom: 0!important;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		top: 0;
		right: 107px;
		position: absolute;
		z-index: 2;
		transform:translate(0, -100%);
		transition: .7s;
			@media (max-width: 1199px) {
				display: none;
				transform:translate(0, 0);
				border: 30px solid #191D23;
    			border-left: 35px solid transparent;
    			border-right: 35px solid transparent;
        		right: 75px;
			}
	}
	&:before{
		content:'';
		width: 0;
		height: 0;
	    border: 40px solid #191D23;;
		border-left: 0;
		border-top: 182px solid transparent;
		border-bottom: 50px solid transparent;
		top: 107px;
		right: 0;
		position: absolute;
		z-index: 2;
		transform:translate(100%, 0);
		transition: .7s;
			@media (max-width: 1199px) {
				display: none;
				transform:translate(0, 0);
				    border: 30px solid #191D23;
				border-left: 0;
				border-top: 135px solid transparent;
				border-bottom: 44px solid transparent;
				top: 75px;
			}
	}
	
	
}
.project-card__img{
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	height: 500px;
	@media (max-width: 1535px) {
	 height: 400px;
	 
	}
	@media (max-width: 1199px) {
	 height: 253px;
	 border-radius: 10px 10px 0 0;
	}
	
}
.project-card__logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.project-card__img:before{
	content:'';
	background-color: #ffffff;
	position: absolute;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	width: 100%;
	left:0;
	transition: 1s;
	z-index: 3;

}
.project-card:not([disabled]):hover .project-card__img:before{
		opacity: 0;
}
.project-card:not([disabled]):hover:hover {
	.project-card__logo{
		transform: scale(0);
		opacity: 0;
	}
	p{
		color: $ac1;
	}
	.picture-wrapper{
	
	&:after, &:before{
		transform: translate(0, 0);
	}
	}
}

.project-card .btn--mini{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	svg{
		width: 14px;
		height: 14px;
	}
}
.our-projects-cards{
	display: grid;
	grid-template-columns: repeat(auto-fill, 480px);
	column-gap:40px;
	row-gap: 60px;
	@media(max-width:1919px){
		grid-template-columns: repeat(auto-fill, 412px);
	}
	@media(max-width:1439px){
		grid-template-columns: repeat(auto-fill, 353px);
	}
	@media(max-width:1199px){
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		column-gap:20px;
		row-gap: 20px;
		width: 760px;
		margin-left: auto;
	  margin-right: auto;
	}
	@media (max-width: 767px) {
	  width: 320px;
	  
	}
}

.project-card[disabled]{
	cursor:default;
	p{color: $sec;}
	.project-card__logo{
		background-image: url('../img/projects/placeholder.png');
	}
	@media (max-width: 1199px) {
		
	 .project-card__logo{
		display: block!important;
		height: 61px;
		width: 87px;
		position: relative;
		top: auto;
		left: auto;
		transform: translate(0,0);
	 }
	 .project-card__img{
		
		display: flex;
		align-items: center;
		height: 81px;
		padding: 11px 20px;
		border-radius: 10px;
		background-color: #ffffff;
	 }
	}
}

.project-card{
	@media (max-width: 1535px) {
 		p{
			font-size: 16px;
			font-weight: 700;
			font-family: $mb;
			
	   }
	}
	@media (max-width: 1199px) {
	   max-width: 320px;
	   
	   .project-card__picture img{
			width: 100%;
			height: 253px;
			object-fit: cover;
			-webkit-clip-path: polygon(0% 100%, 0% 0%, 55% 0%, 66% 10%, 75% 0%, 100% 0%, 100% 31%, 90% 84%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 0%, 55% 0%, 66% 10%, 75% 0%, 100% 0%, 100% 31%, 90% 84%, 100% 100%);
	   }
	   
	   .project-card__img .btn--mini, .project-card__img:before,.project-card__img  .project-card__logo{display: none;}
	}
	&__title{
		display: none;
		z-index: 2;
		position: relative;
		
		@media (max-width: 1199px) {
			display: flex;
			padding-left: 30px;
			padding-right: 20px;
			align-items: center;
			height: 81px;
			justify-content: center;
			background-color: #ffffff;
			border-radius: 0 0 10px 10px;
			&>*+*{margin-left: 25px;}
			img{
				width: 87px;
				height: 61px;
				object-fit: scale-down ;
			}
			.btn--mini{
				position: relative;
				bottom: auto;
				right: auto;
			}
		}
		p{
			font-size: 16px;
			
	   }
	}
	
	@media (max-width: 767px) {
		 p{
			font-size: 14px;
			font-weight: 700;
			padding-top: 10px;
			font-family: $mb;
		}
	}
}