*[frame-modal]{
	display: none;
}

*.visible[frame-modal]{
	display: flex;
	z-index: 10;
	animation-name: opacity;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.modal-frame-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(25, 29, 35, 0.7);
    backdrop-filter: blur(35px);
	overflow: hidden;
	overflow-y: auto;
  .icon-close{
	position: absolute;
	top: 40px;
	right: 40px;
	transition: .3s;
	&:hover{
		opacity: .5;
	}
  }
	.modal-frame{
		padding: 80px 86px;
		border-radius: 60px;
		width: 75%;
		max-width: 740px;
		margin: auto;
		background: linear-gradient(109.23deg, #000E1B 6.61%, #032D53 94.35%);
		@media(max-width:1919px){
			margin-top: 124px;
			padding: 60px;
		}
		@media (max-width: 991px) {
			padding: 40px;	
			border-radius: 70px; 
			
		}
		@media (max-width: 767px) {
			width: 100%;
		  padding: 20px;
		  max-width: 320px;
		  border-radius: 20px;

		}
		
	}
	.form-footer{
		padding-top: 20px;
		&__btn{
			@media (max-width: 767px) {
	
			flex-direction: column;
			align-items: center;
			row-gap:14px;
			&>*{
				width: 100%;
			}
			}
			.back-link{justify-content: center;}
		}
		
	}
	.form-footer--center .form-footer__btn{justify-content: center;}
	.h6{
		margin-bottom: 30px;
	}
	.form-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 40px;
		padding-left: 0;
		.form-item-group{height: 36px;
		@media (max-width: 1199px) {
		height: 26px;
		}}
		@media (max-width: 1199px) {
		  grid-template-columns: 1fr;
		  row-gap: 24px;
		}
	}
}
.modal-frame-wrapper.width-1260{
   .modal-frame{
	max-width: 1260px;
	width: 75%;
	padding-left: 130px;
	padding-right: 130px;
	@media (max-width: 1919px) {
	  padding: 80px;	 
	}
	@media (max-width: 991px) {
	  padding: 40px;	 
	}
	@media (max-width: 767px) {
		width: 100%;
		padding: 20px;
		max-width: 320px;
	}
   }
   .form-footer__btn{
	margin-top: 14px;
	gap:30px;
	.btn, .btn-outline{
		width: 255px;
	}
	@media (max-width: 767px) {
	
	 row-gap:14px;
	 
	}
  }
}
.modal-frame-wrapper.w-500{
	.modal-frame{
		max-width: 502px;
		text-align: center;
		.h6{margin-bottom: 10px;}
		.modal-frame__body{padding-top: 33px;}
		.form-footer__btn .btn.w-100{width: 100%;}
		@media(min-width:768px){
			padding: 80px 72px;
		    border-radius: 60px;
		}
		@media (max-width: 767px) {
		   max-width: 320px;
		}
	}
}
.modal-frame-wrapper.width-740{
	.form-item + .form-item{
		margin-top: 20px;
	}
   .modal-frame{
		max-width: 740px;
		width: 85%;
		padding-left: 130px;
		padding-right: 130px;
		.form-footer__btn{
			
			gap:10px;
			.btn, .btn-outline{
				width: 140px;
				min-width: 140px;
				padding-left: 21px;
				padding-right: 21px;
				@media (max-width: 767px) {
				  
				  width: 100%;
				}
			}
		}
		@media (max-width: 1199px) {
			padding: 80px;	 
		}
		@media (max-width: 991px) {
			padding: 40px;	 
		}
		@media (max-width: 767px) {
			width: 100%;
			padding: 20px;
			max-width: 320px;
			
		}
   }
}

.form-item__border{
	border-bottom: 1px solid $sec;
	padding-bottom: 8px;
}

.toggle-pass .form-item__icon{
	cursor: pointer;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

