extends ../layouts/layout.pug

block content
	.start-page(style="position: relative; z-index:2")
		h1 КОМАНДА
		.start-page__cards
			a(href="#!") UI-KIT PAGE
			a(href="main.html")
				span Главная
				
			a(href="news.html")
				span Новости
			a(href="single-news.html")
				span Одна новость
			a(href="about-us.html")
				span О нас
			a(href="our-projects.html")
				span Проекты
			a(href="our-nav.html")
				span Навигатор
			a(href="our-libs.html")
				span Библиотека
			a(href="our-media.html")
				span Медиацентр
			a(href="media-gallery.html")
				span Медиацентр - фотогалерея
			a(href="media-video.html")
				span Медиацентр - аудио/видео
			a(href="lk.html")
				span Личный кабинет
			a(href="auth-modal.html")
				span Авторизация
			a(href="registr-modal.html")
				span Регистрация
			a(href="restore-password-modal.html")
				span Забыли пароль

			a(href="change-password-modal.html")
				span Сменить пароль
			a(href="success-restore-modal.html")
				span Успешная смена пароля
			a(href="success-registr-modal.html")
				span Успешная регистрация
			a(href="info-modal.html")
				span  модальное окно ВНИМАНИЕ!
block variables
	-var title = "Page";
