extends ../layouts/layout.pug

block content
	include ../sections/_lk-header
	main.main-user-profile
		include ../sections/_lk-form
	
	include ../sections/_footer
	

block variables

	-var bodyCl = 'body-user-profile'
	-var title="Личный кабинет"