extends ../layouts/layout.pug

block content
	include ../sections/_lk-header
	main.main-user-profile
		include ../sections/_lk-form
	
	include ../sections/_footer
	

block variables


	-var title="Личный кабинет"