extends ../layouts/layout.pug

block content
	include ../sections/_header
	
	main.pb-0
		include ../sections/_about
		include ../sections/_partners
	include ../sections/_footer
	
	include ../sections/_register-page
	include ../blocks/_auth-modal

	

block variables

	-var bodyCl = "home-page"
	-var title="Главная"