extends ../layouts/layout.pug

block content
	include ../sections/_header-media-video
	main

		include ../sections/_content-media-video
	
	include ../sections/_footer
	

block variables


	-var title="Медиацентр | Фотогалерея"