extends ../layouts/layout.pug

block content
	include ../sections/_header-media-gallery
	main

		include ../sections/_content-media-gallery
	
	include ../sections/_footer
	

block variables


	-var title="Медиацентр | Фотогалерея"