extends ../layouts/layout.pug

block content
	include ../sections/_header-media-gallery
	main.main-gallery
		.element-5
			object(type="image/svg+xml" data="./img/element5.svg" )
		include ../sections/_content-media-gallery
	
	include ../sections/_footer
	

block variables


	-var title="Медиацентр | Фотогалерея"