extends ../layouts/layout.pug

block content
	include ../sections/_header-news
	main.grad-bg
		.gr2
		include ../sections/_news-content
	
	include ../sections/_footer
	

block variables

	- var bodyCl = 'news-page'
	- var title="Новости"