extends ../layouts/layout.pug

block content
	include ../sections/_header-news
	//- include ../sections/_about
	//- include ../sections/_partners
	include ../sections/_footer
	

block variables


	-var title="Новости"