extends ../layouts/layout.pug

block content
	include ../sections/_header-single-news
	include ../sections/_single-news-content
	
	include ../sections/_footer
	

block variables


	-var title="Одна новость"