extends ../layouts/layout.pug

block content
	include ../sections/_header-our-nav
	main.grad-bg
		.gr3
		.gr4

		include ../sections/_content-our-nav
	
	include ../sections/_footer
	

block variables

	-var bodyCl="inner-page"
	-var title="Навигация"