extends ../layouts/layout.pug

block content
	include ../sections/_header-projects
	main
		include ../sections/_content-projects
	
	include ../sections/_footer
	

block variables


	-var title="Наши проекты"