extends ../layouts/layout.pug

block content
	include ../sections/_header-our-nav
	main.main-our-nav


		include ../sections/_content-our-nav
	
	include ../sections/_footer
	

block variables


	-var title="Навигация"