extends ../layouts/layout.pug

block content
	include ../sections/_header-our-nav
	main.main-our-nav
		.element-3
			object(type="image/svg+xml" data="./img/el3.svg" )
		.element-5
			object(type="image/svg+xml" data="./img/element5.svg" )

		include ../sections/_content-our-nav
	
	include ../sections/_footer
	

block variables


	-var title="Навигация"