extends ../layouts/layout.pug

block content
	include ../sections/_header-projects
	main.grad-bg
		.gr3
		.gr5

		include ../sections/_content-projects
	
	include ../sections/_footer
	

block variables

	-var bodyCl="inner-page"
	-var title="Наши проекты"