extends ../layouts/layout.pug

block content
	include ../sections/_header-our-media
	//- main.main-media
	main.grad-bg
		.gr3
		.gr5

		include ../sections/_content-media
	
	include ../sections/_footer
	

block variables

	-var bodyCl="inner-page inner-page--media"
	-var title="Медиацентр"