extends ../layouts/layout.pug

block content
	include ../sections/_header-our-media
	main.main-media


		include ../sections/_content-media
	
	include ../sections/_footer
	

block variables


	-var title="Медиацентр"