extends ../layouts/layout.pug

block content
	include ../sections/_header-our-media
	main.main-media
		.element-5
			object(type="image/svg+xml" data="./img/element5.svg" )

		include ../sections/_content-media
	
	include ../sections/_footer
	

block variables


	-var title="Медиацентр"