extends ../layouts/layout.pug

block content
	include ../sections/_header-libs
	
	main.grad-bg
		.gr3
		.gr5

		
		include ../sections/_content-libs
	
	include ../sections/_footer
	

block variables

	-var bodyCl="inner-page inner-page--libs"
	-var title="Библиотека"