extends ../layouts/layout.pug

block content
	include ../sections/_header-our-nav
	main.main-navig
		.element-4
			object(type="image/svg+xml" data="./img/el4.svg" )

		include ../sections/_content-our-nav
	
	include ../sections/_footer
	

block variables


	-var title="Навигация"