extends ../layouts/layout.pug

block content
	include ../sections/_register-header
	main
		include ../sections/_register-page
	
	include ../sections/_footer
	

block variables


	-var title="Регистрация"