extends ../layouts/layout.pug

block content
	include ../sections/_register-header
	main
		//===================================================================
			окно Восстановить Пароль открывается по клику на элемент с атрибутом  frame-btn="restore-passw"
		//===================================================================
		.modal-frame-wrapper.w-500.visible(frame-modal="restore-passw")
			.icon-close(frame-close)
			.modal-frame
				.h6 Забыли пароль?
				.text-14.text-gray Введите адрес почты, который указывали при&nbsp;регистрации аккаунта. На&nbsp;данный адрес будет отправлена инструкция по&nbsp;смене пароля.
				.modal-frame__body
					form(action="")
						//========== одно поле ===============
						.form-item
							.input-label Email
								span *
							input(type="text" name="" )
							.form-item__icon
								span.ic-edit
							
						//========== footer формы===============
						.form-footer
							.form-footer__btn.d-flex
								button.btn-46.btn.w-100(type="submit") Восстановить пароль
								
	
	include ../sections/_footer
	

block variables


	-var title="Восстановить пароль"