extends ../layouts/layout.pug

block content
	include ../sections/_header-single-news
	main.grad-bg
		.gr2
		include ../sections/_single-news-content
	
	include ../sections/_footer
	

block variables

	- var bodyCl = 'news-page'
	-var title="Одна новость"