include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//======= swipe =============
		link(rel="stylesheet" href="libs/swiper/swiper.min.css" )
		
		//======= галерея lightbox =============
		link(rel="stylesheet" href="./libs/lightbox/css/lightbox.css" )
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		//======= кастомный плагин выбра даты в инпуте =============
		link(rel="stylesheet" href="./libs/ui-datapicker/ui-datapicker.css" )
		
		//=======================favicon==============================
		link(rel='apple-touch-icon' sizes='180x180' href='./img/favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='./img/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='./img/favicon/favicon-16x16.png')
		link(rel='manifest' href='./img/favicon/site.webmanifest')
		link(rel='mask-icon' href='./img/favicon/safari-pinned-tab.svg' color='#5bbad5')
		link(rel='shortcut icon' href='./img/favicon/favicon.ico')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='msapplication-config' content='./img/favicon/browserconfig.xml')
		meta(name='theme-color' content='#ffffff')
		
		//=======================fonts==============================	
		link(rel="stylesheet", href="fonts/fonts.css")
		
		//=======================my styles==============================
		link(rel="stylesheet", href="css/main.css")
		
		title !{title}
		
	body(class=(bodyCl !=="" ? bodyCl : ''))
		.body-content
			.element-1
				
			.element-2
				
			block content
			
		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		 
		//=============== swiper ===================
		script(src="libs/swiper/swiper.js")
		
		//=============== lightbox ===================
		script(src="./libs/lightbox/js/lightbox.min.js")
		
		//======= кастомный плагин выбра даты в инпуте =============
		script(src="./libs/ui-datapicker/ui-datapicker.js")
				
		//=============== мои скрипты ===================
		
		script(src="./js/main.js")